<!DOCTYPE html>
<html>
    <head>
        <title>09 Prove : Assignment - Postal Rate Calculator</title>
    </head>

    <body>
        <div class="container">
            <% if (typeof rate !== 'undefined') { %> 
            <h2>Resulting rate: $<%- rate %></h2>
            <a class="btn" href="/prove09">Try another</a>
            <% } %>

            <% if (typeof error !== 'undefined') { %> 
            <h2><%- error %></h2>
            <a class="btn" href="/prove09">Try again</a>
            <% } %>
        </div>
    </body>
</html>