<!DOCTYPE html>
<html>
    <head>
        <title>09 Prove : Assignment - Postal Rate Calculator</title>
    </head>

    <body>
        <div class="container">
            <h2>Postal Rate Calculator</h2>

            <form method="GET" action='w09/results'>
                <input type="number" step=".5" placeholder='Weight in ounces' name='weight'>
                <select name='mailType' id="mailType">
                    <option value='stamped'>Letters (Stamped)</option>
                    <option value='metered'>Letters (Metered)</option>
                    <option value='flat'>Large Envelope (Flats)</option>
                    <option value='fcpsr'>First-Class Package Service—Retail</option>
                </select>
                <select name='zone' id="zone" style="display: none;">
                    <option value='1'>Zone 1 & 2</option>
                    <option value='3'>Zone 3</option>
                    <option value='4'>Zone 4</option>
                    <option value='5'>Zone 5</option>
                    <option value='6'>Zone 6</option>
                    <option value='7'>Zone 7</option>
                    <option value='8'>Zone 8</option>
                    <option value='9'>Zone 9</option>
                </select><br>
                <br><input type=submit value="Get Rate">
            </form>
        </div>
    </body>
    <script>
        const elem = document.getElementById("mailType");
        elem.onchange = function(){
            let hiddenDiv = document.getElementById("zone");
            hiddenDiv.style.display = (this.value != "fcpsr") ? "none":"inline";
        };
    </script>
</html>