<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>(Public)10 Prove : Assignment - Milestone 1 - End to end</title>
	</head>
	<body>
		<h1>Hearthstone Collectible Card Libary</h1>
	</body>
</html>