<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards to Database Test</title>
</head>

<body>
    <form method="GET" action='/cardsToDb'>
        <br><input type=submit value="Try Inserting Cards to Database">
    </form>
</body>

</html>